.dialogs {
  display: flex;
  color: #160032;
  font-family: 'ProximaNova', sans-serif!important;
  &__content {
    width: 40%;
  }
  &__img {
    width: 60%;
    overflow: hidden;
  }
  h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #160032;
  }
  h5 {
    font-family: 'ProximaNova', sans-serif!important;
    font-size: 20px;
    font-weight: 600;
  }
  p {
    font-size: 18px;
  }
}
