<div [ngClass]="'contact'">
  <h2 [ngClass]="'title'">Есть вопросы? Свяжитесь с нами!</h2>
  <div [ngClass]="'contact__container'">
    <div [ngClass]="'contact__form'">
      <p>Заполните форму и наш менеджер свяжется с вами в ближайшее время</p>
      <mat-form-field appearance="fill">
        <mat-label>Ваше имя</mat-label>
        <input required matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Ваш e-mail</mat-label>
        <input required matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Ваше номер телефона</mat-label>
        <input required matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Напишите ваш комментарий</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
      <div>
        <section class="contact__section">
          <mat-checkbox class="example-margin">Я согласен на обработку персональных данных и с условиями пользовательского соглашения</mat-checkbox>
        </section>
      </div>
      <a href="" [ngClass]="'button'">
        <button mat-raised-button color="warn" [ngClass]="'button__front button__contact'">
          <div [ngClass]="'button__frontShadow'"></div>
          Отправить
        </button>
      </a>
    </div>
    <div [ngClass]="'contact__illustration'">
      <img src="assets/svg/contact.svg" alt="">
    </div>
  </div>
</div>
