.footer {
  background-color: #14002E;
  padding: 40px;
  &__info {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 20px;
    color: #FFFFFF;
  }
  &__social {
    svg {
      transition: .5s;
    }
    a:hover svg {
      fill: #ffffff;
    }
    a:not(:last-child) {
      margin-right: 10px;
    }
  }
  &__box {
    display: flex;
  }
  &__contact {
    margin-left: 120px;
    display: flex;
    flex-direction: column;
  }
}
.footer__content {
  display: flex;
  justify-content: space-between;
}
.footer__menu {
  list-style: none;
  display: flex;
  font-weight: 600;
  font-size: 24px;
  color: #ffffff;
  li:not(:last-child) {
    margin-right: 30px;
  }
}
.container__footer {
  background-color: #14002E;
}
.footer__menu {
  li {
    margin-top: 10px;
    height: 20px;
    position: relative;
    padding-bottom: .5em;
    cursor: pointer;
  }
  li:before, .active:before {
    display: block;
    position: absolute;
    content: "";
    height: 2px;
    width: 0;
    background: #ffffff;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
    left: 50%;
    bottom: 0;
  }
  li:after, .active:after {
    display: block;
    position: absolute;
    content: "";
    height: 2px;
    width: 0;
    background-color: #ffffff;
    transition: width 0.3s ease-in-out;
    left: 50%;
    bottom: 0;
  }
  li:hover:before, .active:before {
    width: 50%;
    color: #000;
    left: 0!important;
  }
  li:hover:after, .active:after {
    width: 50%;
  }
}
