.portfolio {
  &__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__button {
    margin: 60px 0 100px 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  &__item{
    box-shadow: 0 15px 35px rgba(22, 8, 54, 0.5);
    border-radius: 10px;
    max-width: 49%;
    width: 100%;
    margin-bottom: 50px;
    background-color: #ffffff;
    overflow: hidden;
    img:hover{
      transform: scale(1.2);
    }
    img {
      overflow: hidden;
      cursor: pointer;
      position: relative;
      z-index: 10;
      transition: .5s;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__content {
    position: relative;
    height: 100px;
    padding: 30px;
  }
  &__fon {
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
  }
  h4 {
    position: relative;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #160032;
    z-index: 10;
  }
  p {
    position: relative;
    font-size: 18px;
    line-height: 22px;
    color: #160032;
    z-index: 10;
  }
  &__itemMore {
   display: none;
  }
  .portfolio__buttonShow {
    display: none;
  }
}
.scale {
  overflow: hidden;
  height: 350px;
}
