<div #reviews [ngClass]="'reviews'">
  <h2 [ngClass]="'title'">Что о нас говорят клиенты?</h2>
  <carousel [cellsToShow]="test" [margin]="25" [height]="300" [loop]="true" [dots]="true" [arrows]="false">
    <div class="carousel-cell" [ngClass]="'reviews__item'">
      <div [ngClass]="'reviews__title'">
        <img src="assets/img/reviewer-3.png" alt="">
        <div [ngClass]="'reviews__titleContent'">
          <h5>Станислав Петров</h5>
          <span>Основатель сервиса Deploy F нужна гиперссылка на сайт</span>
        </div>
      </div>
      <p>Работа по проекту со специалистами Алексис оставила только положительные эмоции.
        Команда исполнителей часто предлагала улучшения по конкретным задачам, делала больше запланированного и регулярно сообщала о статусе работ и возможных сдвигах сроков.
        Конечный результат превзошел ожидания, рекомендую!</p>
    </div>
    <div class="carousel-cell" [ngClass]="'reviews__item'">
      <div [ngClass]="'reviews__title'">
        <img src="assets/img/reviewer-1.png" alt="">
        <div [ngClass]="'reviews__titleContent'">
          <h5>Дина Замлетдинова</h5>
          <span>Менеджер интернет-магазина Woman's Nature, Казань. </span>
        </div>
      </div>
      <p>Благодарю Alexis Team за реализацию проекта по разработке интернет-магазина косметики "Woman's Nature". Отдельная благодарность Альберту за продуктивную совместную работу. </p>
    </div>
    <div class="carousel-cell" [ngClass]="'reviews__item'">
      <div [ngClass]="'reviews__title'">
        <img src="assets/img/reviewer-2.png" alt="">
        <div [ngClass]="'reviews__titleContent'">
          <h5>Адель Каримов</h5>
          <span>Менеджер компании Richersup, Москва. </span>
        </div>
      </div>
      <p>Отличный опыт сотрудничества, компетентные специалисты, вежливое общение,
        учли все пожелания и сделали проект лучше, чем я мог ожидать. Менеджер
        всегда на связи, отвечает на любые вопросы, работа выполнена в срок, никаких задержек не было. </p>
    </div>
    <div class="carousel-cell" [ngClass]="'reviews__item'">
      <div [ngClass]="'reviews__title'">
        <img src="assets/img/reviewer-4.png" alt="">
        <div [ngClass]="'reviews__titleContent'">
          <h5>Юлия Жук</h5>
          <span>Директор магазина Nebruliki, Казань. </span>
        </div>
      </div>
      <p>Ответственно подходят к работе и решению поставленных задач. За время совместной работы сотрудники компании показали себя высокими профессионалами,
        которые следят за качеством выполняемой работы и учитывают пожелания Заказчика. Выполнили работу все работы в установленные сроки. </p>
    </div>
    <div class="carousel-cell" [ngClass]="'reviews__item'">
      <div [ngClass]="'reviews__title'">
        <img src="assets/img/peple.jpg" alt="">
        <div [ngClass]="'reviews__titleContent'">
          <h5>Юлия Жук</h5>
          <span>Директор магазина Nebruliki, Казань. </span>
        </div>
      </div>
      <p>Ответственно подходят к работе и решению поставленных задач. За время совместной работы сотрудники компании показали себя высокими профессионалами,
        которые следят за качеством выполняемой работы и учитывают пожелания Заказчика. Выполнили работу все работы в установленные сроки. </p>
    </div>
    <div class="carousel-cell" [ngClass]="'reviews__item'">
      <div [ngClass]="'reviews__title'">
        <img src="assets/img/peple.jpg" alt="">
        <div [ngClass]="'reviews__titleContent'">
          <h5>Александр Фёдоров</h5>
          <span>Менеджер интернет-магазина Lepika, Екатеринбург. </span>
        </div>
      </div>
      <p>Удобное взаимодействие с производителем сайта. Все пожелания по визуализации сайта были выполнены, в процессе обсуждались полезные рекомендации и
         оптимальные решения по структуре. Окончательный вариант выполнен в соответствии с техническим заданием. </p>
    </div>
  </carousel>
</div>
