<div [ngClass]="'reviews'">
  <h2 [ngClass]="'title'">Что о нас говорят клиенты?</h2>
  <carousel [cellsToShow]="3" [height]="300" [loop]="true" [dots]="true" [arrows]="false">
    <div class="carousel-cell" [ngClass]="'reviews__item'">
      <div [ngClass]="'reviews__title'">
        <img src="assets/img/peple.jpg" alt="">
        <div [ngClass]="'reviews__titleContent'">
          <h5>София Морозова</h5>
          <span>Менеджер компании Richersup, Москва. </span>
        </div>
      </div>
      <p>Отличный опыт сотрудничества, компетентные специалисты, вежливое общение,
        учли все пожелания и сделали проект лучше, чем я могла ожидать. Менеджер
        всегда на связи, отвечает на любые вопросы, работа выполнена в срок, никаких задержек не было. </p>
    </div>
    <div class="carousel-cell" [ngClass]="'reviews__item'">
      <div [ngClass]="'reviews__title'">
        <img src="assets/img/peple.jpg" alt="">
        <div [ngClass]="'reviews__titleContent'">
          <h5>София Морозова</h5>
          <span>Менеджер компании Richersup, Москва. </span>
        </div>
      </div>
      <p>Отличный опыт сотрудничества, компетентные специалисты, вежливое общение,
        учли все пожелания и сделали проект лучше, чем я могла ожидать. Менеджер
        всегда на связи, отвечает на любые вопросы, работа выполнена в срок, никаких задержек не было. </p>
    </div>
    <div class="carousel-cell" [ngClass]="'reviews__item'">
      <div [ngClass]="'reviews__title'">
        <img src="assets/img/peple.jpg" alt="">
        <div [ngClass]="'reviews__titleContent'">
          <h5>София Морозова</h5>
          <span>Менеджер компании Richersup, Москва. </span>
        </div>
      </div>
      <p>Отличный опыт сотрудничества, компетентные специалисты, вежливое общение,
        учли все пожелания и сделали проект лучше, чем я могла ожидать. Менеджер
        всегда на связи, отвечает на любые вопросы, работа выполнена в срок, никаких задержек не было. </p>
    </div>
    <div class="carousel-cell" [ngClass]="'reviews__item'">
      <div [ngClass]="'reviews__title'">
        <img src="assets/img/peple.jpg" alt="">
        <div [ngClass]="'reviews__titleContent'">
          <h5>София Морозова</h5>
          <span>Менеджер компании Richersup, Москва. </span>
        </div>
      </div>
      <p>Отличный опыт сотрудничества, компетентные специалисты, вежливое общение,
        учли все пожелания и сделали проект лучше, чем я могла ожидать. Менеджер
        всегда на связи, отвечает на любые вопросы, работа выполнена в срок, никаких задержек не было. </p>
    </div>
    <div class="carousel-cell" [ngClass]="'reviews__item'">
      <div [ngClass]="'reviews__title'">
        <img src="assets/img/peple.jpg" alt="">
        <div [ngClass]="'reviews__titleContent'">
          <h5>София Морозова</h5>
          <span>Менеджер компании Richersup, Москва. </span>
        </div>
      </div>
      <p>Отличный опыт сотрудничества, компетентные специалисты, вежливое общение,
        учли все пожелания и сделали проект лучше, чем я могла ожидать. Менеджер
        всегда на связи, отвечает на любые вопросы, работа выполнена в срок, никаких задержек не было. </p>
    </div>
  </carousel>
</div>
