/* You can add global styles to this file, and also import other style files */
*{
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('assets/font/ProximaNova-Black.eot');
  src: url('assets/font/ProximaNova-Black.eot?#iefix') format('embedded-opentype'),
  url('assets/font/ProximaNova-Black.woff') format('woff'),
  url('assets/font/ProximaNova-Black.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('assets/font/ProximaNova-Bold.eot');
  src: url('assets/font/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
  url('assets/font/ProximaNova-Bold.woff') format('woff'),
  url('assets/font/ProximaNova-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('assets/font/ProximaNova-Regular.eot');
  src: url('assets/font/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
  url('assets/font/ProximaNova-Regular.woff') format('woff'),
  url('assets/font/ProximaNova-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


.button {
  cursor: pointer;
  text-decoration: none;
  transition: .5s;
  position: relative;
  :hover .button__frontShadow {
    opacity: .5;
  }
  &__front {
    cursor: pointer;
    padding: 20px 60px!important;
    background: linear-gradient(180deg, #0EDDAB 0%, #0FC5AF 100%);
    border-radius: 100px!important;
    font-size: 24px;
    font-weight: 900;
    position: relative;
    color: #FFFFFF;
    &Shadow {
      height: 50px;
      width: 80%;
      transition: .5s;
      position: absolute;
      bottom: 0;
      background: #0EDDAB;
      opacity: 0.3;
      filter: blur(35px);
      border-radius: 100px;
    }
  }
}
.burger {
  display: none!important;
}
html {
  scroll-behavior: smooth;
}
.title {
  margin: 0!important;
  font-weight: 900!important;
  padding: 100px 0 80px 0!important;
  font-size: 48px!important;
  line-height: 109.2%!important;
  color: #FFFFFF;
}

.container {
  background-color: #160032;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  justify-content: center;
}
.mat-dialog-content {
  max-height: 100% !important;
}
.cdk-global-overlay-wrapper{
  padding: 50px 0;
  box-sizing: border-box;
}
.content {
  max-width: 1310px;
  font-family: 'ProximaNova', sans-serif !important;
  width: 100%;
}
.button__front {
  outline: none;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@media (max-width: 1300px) {
  .first__container {
    flex-direction: column;
    height: 100%;
    margin-bottom: 50px;
  }
  .dialogs {
    flex-direction: column!important;
  }
  .mat-dialog-content {
    margin: 0!important;
    padding: 0!important;
  }
  .dialogs__content {
    margin-top: 1em;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0 1em;
    order: 2;
    width: 100%!important;
  }
  .mat-dialog-container {
    padding: 0!important;
  }
  .dialogs__img {
    order: 1;
    width: 100%!important;
  }
  .first__content {
    order: 2;
    max-width: 90% !important;
  }
  .first {
    height: 100% !important;
  }
  .first__svg {
    margin-top: 50px!important;
    order: 1;
    position: relative!important;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
@media (max-width: 1250px) {
  .services__itemBottom {
    flex-direction: column;
  }
  .services__item h4{
    white-space: nowrap;
    font-size: 20px!important;
  }
  .services__itemContent {
    height: 300px;
  }
  .services__price {
    align-items: center;
    padding-bottom: .5em;
  }
  .header__social, .footer__contact {
    margin-left: 35px!important;
  }
  .contact__illustration {
    margin-left: -70px;
  }
  .services__itemSvg {
    margin-top: 10px;
  }
  .services__itemContent {
    flex-direction: column;
    align-items: center;
  }
  .footer__menu {
    flex-direction: column;
  }
  .footer__menu li:not(:last-child) {
    margin: 0 0 .5em 0;
  }
}
@media (max-width: 950px) {
  .contact__illustration {
   display: none;
  }
  .burger {
    display: flex;
  }
  .header__content {
   display: none!important;
  }
  .contact__form {
    width: 100% !important;
  }
  .button__contact {
    display: flex!important;
    margin: auto!important;
  }
  .burger {
    display: flex!important;
  }
}
@media (max-width: 900px) {
  .services__container {
    flex-wrap: wrap;
  }
  .services__item {
    max-width: 100% !important;
    font-weight: 600;
  }
  .cdk-overlay-pane {
    margin: 5em 0;
    overflow-y: scroll!important;
  }
  .services__item h4{
    font-weight: 600;
  }
  .services__item:not(:last-child) {
    margin-bottom: 30px;
  }
  .mat-checkbox-layout .mat-checkbox-label {
    font-size: 14px;
  }
  .mat-checkbox-inner-container {
    top: 6px!important;
  }
}
@media (max-width: 750px) {
  .first__content {
    max-width: 100% !important;
  }
  .cdk-overlay-pane {
    max-width: 90vw!important;
    width: 100% !important;
  }
  .first__message {
    display: none;
  }
  .first__content {
    margin-top: 30px;
  }
  .footer__menu {
    order: 2;
  }
  .portfolio__item {
    max-width: 100% !important;
  }
  .portfolio__content {
    height: auto!important;
  }
  .contact__form p {
    font-size: 18px!important;
  }
  .footer__box {
    width: 100%;
    justify-content: space-between;
  }
  .footer__contact {
    margin: 60px 0 0 0!important;
    order: 1;
  }
  .title {
    font-size: 30px!important;
  }
  .footer__logo  {
    position: absolute;
  }
  .footer__info {
    font-size: 18px!important;
    margin-bottom: 10px!important;
  }
  .services__item h4 {
    text-align: center;
  }
  .footer__menu li {
    margin: 0 0 10px 0!important;
    font-size: 16px;
    font-weight: 400;
  }
  .first__content h2 {
    text-align: center;
    font-size: 30px!important;
  }
  .first__content p {
    text-align: center;
    font-size: 20px;
  }
  .first__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .services__itemContent {
    height: auto!important;
  }
}
@media (max-width: 450px) {
  .services__item h4 {
    white-space: normal;
  }
  .burger {
    top: 20px!important;
  }
  .button__front {
    padding: 15px 35px !important;
  }
  .container {
    padding: 0 15px!important;
  }
  .first__content h2 {
    font-size: 20px!important;
  }
  .portfolio__button {
    margin: 30px 0 50px 0!important;
  }
  .first__content p{
    font-size: 16px!important;
  }
  .mat-button-wrapper {
    font-size: 18px;
  }
  .title {
    padding: 50px 0 40px 0 !important;
  }
  .footer__info {
    font-size: 16px !important;
  }
  .reviews__titleContent span {
    font-size: 14px!important;
  }
  .reviews__title img {
    max-width: 60px!important;
    max-height: 60px!important;
  }
  .reviews__item {
    padding: 15px!important;
  }
  .reviews__titleContent {
    margin-left: 10px!important;
  }
  .reviews__titleContent h5 {
    font-size: 18px!important;
    margin: 0!important;
  }
  .reviews__item p {
    font-size: 14px!important;
  }
  .footer {
    padding: 15px!important;
  }
  .container__footer {
    padding: 0!important;
  }
}
